{% extends "base.html" %}
{% block content %}
    {% if error %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <div class="border border-dark rounded p-4">
        <form method="post" action="{{ url_for('home.login') }}" class="center" novalidate>
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(size=32, class_='form-control', **{'aria-describedby':'emailHelp'}) }}
                {% for error in form.username.errors %}
                    <small id="emailHelp" class="form-text text-danger">[{{ error }}]</small>
                {% endfor %}

            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(size=32, class_='form-control', **{'aria-describedby':'passwordHelp'}) }}
                {% for error in form.password.errors %}
                    <small id="passwordHelp" class="form-text text-danger">[{{ error }}]</small>
                {% endfor %}
            </div>
            {{ form.hidden_tag() }}
            {{ form.next_page }}
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
